{:paths ["src" "resources"]
 :deps {com.platypub.themes/default {:git/url "https://github.com/jacobobryant/platypub"
                                     :git/sha "1d645b7e5ab029f5b9bfc4a22dd88ae684c2495b"
                                     :deps/root "themes/default"}
        markdown-clj/markdown-clj {:mvn/version "1.11.3"}}}
