{:paths ["src"]
 :deps {com.platypub.themes/default {:git/url "https://github.com/jacobobryant/platypub"
                                     :git/sha "08a951a8fad64f23650b506369d9e387bd979e30"
                                     :deps/root "themes/default"}}}
